(logs) {
    log stdout
    errors stderr
}

(tls) {
    tls {{ email }}
}

#:80 {
#    root {{ default_web_root|default('/dev/null') }}
#    tls off
#    import logs
#}

127.0.0.1:{{ caddy_port }} {
    root {{ caddy_home }}
    templates / .txt
    ext .txt .html
    tls off
    import logs
}
